.custom-nav {
    width: 80%;
    padding-bottom: 0;
    background-color: #e8a668;
   
    
}

.navbar {
    background-color: #45a5aa;
    
}

.teal-line {
    height: .3em;
    width: 100vw;
    margin: 0;
    background-color: #773f3f; 
   
    
}
body,
.card-header, 
.card-footer {
    background-color: blanchedalmond;
}

.footer {
    background-color: #773f3f; 
    border-top: .3em solid  #45a5aa;
    margin-bottom: 0;
     
}

.main-text-head {
    font-size: 1.2em;
}

.name-logo {
    background-color: #773f3f; 
    padding: 1.2em;
    margin-bottom: 0;
    color: blanchedalmond; 
    bottom: 0;
    font-size: 1.2em;
    box-shadow: .1em .1em .1em .1em #643535;
    text-shadow: 0px 1px 1px #ffd699;
    
    
}
.about-me-img {
    border: 1px solid #773f3f;
    margin-right: 1.2em;
}

.about-me {
    width: 80%;
    background-color: #e8a668;
    
    border-left: .8em solid #45a5aa;
    border-right: .8em solid #45a5aa;
    margin-bottom: 2.4em;
    margin-top: 1.2em;
}

.brown-font {
    color: #773f3f;
}

.card-body {
    background-color: #edf7f8;
    
}


.embossed {
    text-shadow: 0px .3px .3px #643535;
    padding: .3em;
    background-color: #e8a668;
    box-shadow: .1em .1em .1em .1em #643535;
    color: #432323;
    font-size: .8em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.portfolio-item {
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 450px;
    margin: auto auto 1em;
  }
  
  .portfolio-item .caption {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(33, 37, 41, 0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
  
  .portfolio-item .caption .caption-content {
    color: #fff;
    margin: auto 2em 2em;
  }
  
  .portfolio-item .caption .caption-content h2 {
    font-size: 0.8rem;
    
  }
  
  

@media only screen and (max-width: 600px) {
    .custom-nav,
    #portfolio {
        width: 100vw;
    }
    .about-me-img {
        width: 100%;
    }
  } 

  /*https://www.color-hex.com/color-palette/71613*/