.custom-nav {
    width: 80%;
    padding-bottom: 0;
    background-color: #e8a668;
    
}

body {
    background-color: blanchedalmond;
}
.navbar {
    background-color: #45a5aa;
}

.teal-line {
    height: .3em;
    width: 100vw;
    margin: 0;
    background-color: #773f3f; 
    
}

.name-logo-faded {
    opacity: 10%;
}

.name-logo {
    background-color: #773f3f; 
    padding: 1.2em;
    margin-bottom: 0;
    color: blanchedalmond; 
    bottom: 0;
    font-size: 1.2em;
    
}


.about-me {
    width: 80%;
    background-color: #e8a668;
    
    border-left: .8em solid #45a5aa;
    border-right: .8em solid #45a5aa;
}

@media only screen and (max-width: 600px) {
    .custom-nav {
        width: 100vw;
    }
    .about-me-img {
        width: 100%;
    }
  } 

  /*https://www.color-hex.com/color-palette/71613*/